.products-container {
  overflow: scroll;
  height: 100vh;
}
/* body {
  background-color: rgb(136, 136, 136);
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  /* display: flex;
  flex-direction: column; */
/* }  */ 


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.description {
  margin-top: 10%;
  color: #6d757d;
}

.productBtn {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.productId {
  font-size: small;
}
.priceFont {
  font-size: 40px;
}

.pickUp {
  border: 1px solid #ffd8c2;
  /* display: block; */
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 10px;
  padding: 10px 25px;
  border-radius: 20px;
  margin-right: 40px;
}

.pickUpLocation {
  margin-bottom: 10%;
}

.addToCart .btn {
  background-color: transparent;
  color: #000000;
  border: #ffd8c2 1px solid;
  border-radius: 50px;
  padding: 10px 26px;
  transition: 0.3s background-color;
  margin-top: 10px;
  font-size: 18px;
}

.addToCart .btn:hover {
  background-color: #ffd8c2;
  color: #08192c;
}

#productDetails {
  display: flex;
  margin: 80px;
}

#productTitle {
  font-size: 20px;
  font-weight: bold;
  color: #08192c;
}

/* navbar */

#navbarhead {
  border-radius: 35px;
  margin: 5px;
}

.navbar-brand{
  font-family: "LXGW WenKai TC", cursive;
  font-size: 35px;
  color: #08192c;
  margin-left: 20px;
}

#offcanvasNavbarLabel {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 30px;
}


#loginbox .btn {
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s background-color;
}

#loginBtn:hover {
  background-color: #f1ece1;
  color: #08192c;
}

#signupbox .btn {
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  margin: 0px 10px;
  transition: 0.3s background-color;
}

#signupbox .btn:hover {
  background-color: #f1ece1;
  color: #08192c;
}

#settingBtn{
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  margin: 0px 10px;
  transition: 0.3s background-color;
}
#settingBtn:hover{
  background-color: #f1ece1;
  color: #08192c;
}

.navbar-toggler{
  border: none;
  font-size: 18px;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-left: 10px;
}

.nav-link:hover, .nav-link.active {
  color: #08192c;
 }

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #f1ece1;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 70%;
}

#userInfo {
  font-size: 10px;
}

  