.products-container {
    overflow: scroll;
    height: 100vh;
}
/* body {
    background-color: rgb(136, 136, 136);
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
 /* }  */ 

.firstSection {
    /* height: 20%; */
    width: 100%;
    /* display: flex; */
}

.logoLocation {
    height: 100%;
    width: 50%;
}

.userInfoFont{
    font-size: xx-large;
    color: white;
}

.userArea {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2%;
    gap: 2%;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    cursor: pointer;
    color: red;
    float: right;
}

.aicontainer {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 80%;
}

.imagecontainer {
    
    height: 500px;
    width: 500px;
}

#result >img {
    height: 100%;
    width: 100%;
}


.card-body .btn {
    background-color: transparent;
    color: #6d757d;
    border: #ffd8c2 1px solid;
    border-radius: 50px;
    padding: 6px 16px;
    transition: 0.3s background-color;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .card-body .btn:hover {
    background-color: #ffd8c2;
    color: #08192c;
  } 

  img{
    max-width: 100%;
  }
  
  .gallery{
    background-color: rgb(255, 255, 255);
    /* padding: 0px 10%; */
    margin-top: 30px;
  }
    
  .gallery img{
    background-color: rgb(251, 236, 228);
    padding: 15px;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 5px;
  }
  
  #gallery-modal .modal-img{
    width: 100%;
  }
  
  
  .quantity {
    border: 1px solid black;
    border-radius: 3px;
    margin: 1px;
    padding: 1px;
  }
  
  .quantity-green {
    background-color: #6cc971;
    color: white;
    border: transparent;
    border-radius: 3px;
    margin: 5px;
    padding: 0 5px;
  }
  
  
  .quantity-red {
    background-color: #ff6c6c;
    color: white;
    border: transparent;
    border-radius: 3px;
    margin: 5px;
    padding: 0 5px;
  
  }
  
  .quantity-gray {
    background-color: #a6a6a6;
    color: white;
    border: transparent;
    border-radius: 3px;
    margin: 5px;
    padding: 0 5px;
  
  }

  /**/
  /* navbar */

#navbarhead {
  border-radius: 35px;
  margin: 5px;
}

.navbar-brand{
  font-family: "LXGW WenKai TC", cursive;
  font-size: 35px;
  color: #08192c;
  margin-left: 20px;
}

#offcanvasNavbarLabel {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 30px;
}


#loginbox .btn {
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  transition: 0.3s background-color;
}

#loginBtn:hover {
  background-color: #f1ece1;
  color: #08192c;
}

#signupbox .btn {
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  margin: 0px 10px;
  transition: 0.3s background-color;
}

#signupbox .btn:hover {
  background-color: #f1ece1;
  color: #08192c;
}

#settingBtn{
  background-color: transparent;
  color: #6d757d;
  border: #f1ece1  1px solid;
  border-radius: 50px;
  padding: 8px 20px;
  margin: 0px 10px;
  transition: 0.3s background-color;
}
#settingBtn:hover{
  background-color: #f1ece1;
  color: #08192c;
}

.navbar-toggler{
  border: none;
  font-size: 18px;
}

.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link {
  color: #666777;
  font-weight: 500;
  position: relative;
  margin-left: 10px;
}

.nav-link:hover, .nav-link.active {
  color: #08192c;
 }

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #f1ece1;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
  visibility: visible;
  width: 70%;
}

#userInfo {
  font-size: 10px;
}

  